@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Sequel;
  src: url("./assets/fonts//SequelSans.ttf") format("truetype");
}
@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-sequel: "Sequel", sans-serif;
}

@layer utilities {
  .header-text-shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}



.scroll-container {
  overflow: hidden;
  position: relative;
  height: 500px;
}

/* continuous loop scroll */
@keyframes autoScrollLoop {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); } /* পুরো content উপরে যাবে */
}

.auto-scroll {
  position: absolute;
  inset: 0;
  animation: autoScrollLoop 20s linear infinite; /* ধীরে ধীরে loop হবে */
}

/* pause on hover */
.auto-scroll:hover {
  animation-play-state: paused;
}

/* hover করলে scrollbar enable হবে */
.scroll-container:hover {
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* scrollbar hide */
.scroll-container::-webkit-scrollbar {
  display: none;
}
