@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Sequel;
  src: url("./assets/fonts//SequelSans.ttf") format("truetype");
}
@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-sequel: "Sequel", sans-serif;
}

@layer utilities {
  .header-text-shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
